<% include ../partials/header %>
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Add a New Listing</h1>
  <form action="/house" method="POST">
    Type: <input type="text" name="type" /><br/> Price: <input type="text" name="price" /><br/> Size: <input type="text" name="size" /><br/> Location: <input type="text" name="location" /><br/>

    <input type="submit" value="Add" />
  </form>
</body>

</html>

<% include ../partials/footer %>
